
mixin datepicker_page
  .datepicker-block
    .datepicker-block-lable
      input#start_one.datepicker-here.datepicker-here-page(type='text' data-range='true' data-multiple-dates-separator=' - ' placeholder='ДД.ММ.ГГГГ')
      button.datepicker-btn expand_more  