
mixin datepicker_page
  .datepicker-block
    .datepicker-block-lable
      input#start_one.datepicker-here.datepicker-here-page(type='text' data-range='true' inline='true', data-multiple-dates-separator=' - ' placeholder='ДД.ММ.ГГГГ') 