include ../checkmark/checkmark
mixin checkbox_button
    .checkbox-button 
        .checkbox-button-group 
            +checkmark 
            .checkbox-button-text Можно курить
        .checkbox-button-group 
            +checkmark 
            .checkbox-button-text Можно с питомцами
        .checkbox-button-group 
            +checkmark 
            .checkbox-button-text Можно пригласить гостей (до 10 человек)