.number {
    display: flex;
    flex-direction: row;
    width: 92px;
    height: 30px;
}

.minus, .plus{
    width:30px;
    height:30px;
    background:#FFFFFF;
    border-radius:22px;
    padding:0px;
    border: 1px solid rgba(31, 32, 65, 0.25);;
    align-content: center;
    box-sizing: border-box;
    color: rgba(31, 32, 65, 0.5);
    text-align: center;
    font-size: 18px;

}
input{
    width: 32px;  
    height: 30px;
    text-align: center;
    padding: 0px;
    border: none;
    
display: inline-block;
vertical-align: middle;
font-family: 'MontserratBold';
font-style: normal;
font-size: 12px;
line-height: 15px;
text-align: center;
text-transform: uppercase;
color: #1F2041;
} 