mixin plusminus
    .number
        input.minus.minus(type='button' value='-' onclick='minus()')        
        input.count.plusminus-input(type='text' value='0')
        input.plus.plus(type='button' value='+' onclick='plus()')