include ../../modules/cards/seach_room/seach_room



doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= "Landing"


  body 
    include ../../modules/header/header
    .landing-content-img
      .wrapper
        .landing-content
          .landing-card
            +seach_room
          .landing-text Лучшие номера для вашей работы, отдыха и просто вдохновения    
    include ../../modules/footer/footer