include ../../modules/cards/seach_room/seach_room


doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= "Landing"


  body 
    include ../../modules/header/header
    .registration-content
      .container
        .registration-page-registration-card
          +seach_room    
    include ../../modules/footer/footer