
mixin datepicker
  .datepicker-block
    .datepicker-block-lable
      input#start_one.datepicker-here(type='text' data-range='true' data-multiple-dates-separator=' - ' placeholder='ДД.ММ.ГГГГ')
      button.datepicker-btn expand_more  
    .datepicker-block-lable
      input#end_one.date-end(type='text' placeholder='ДД.ММ.ГГГГ')
      button.datepicker-btn expand_more 