@import '~normalize.css';
@import '~flexboxgrid2';




body {
    height: 1440px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.room-details-pic {
    max-width: 100%;
    height: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
   // background-image: url(image4.png);
    //background-position: center;
   
    
   &-group {
       display: flex;
       flex-direction: column;
       max-width: 100%;

       &-pic1 {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
       }

       &-pic2 {
        max-width: 100%;
        height: 243px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
       }

       &-pic3 {
        max-width: 100%;
        height: 243px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
       }
   }
}

.room-details-content {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-top: 70px;
    margin-bottom: 70px;
    
    &-column {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &-block {
            display: flex;
            flex-direction: row;
            gap: 70px;

            &-group-heading {
                font-family: 'MontserratBold';
                font-size: 19px;
                line-height: 23px;
                color: #1F2041;
                margin-bottom: 23px;

                &-bullet {
                    font-family: 'MontserratBold';
                    font-size: 19px;
                    line-height: 23px;
                    color: #1F2041;
                    margin-bottom: 23px;
                    margin-left: 20px;

                }
            }

            &-group-cancel {
                max-width: 341px;
                height: auto;
                font-family: 'MontserratRegular';
                font-size: 14px;
                line-height: 24px;
                color: rgba(31, 32, 65, 0.75);
            }
                  
        }
        
    }
}



