
doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Headers & Footers"
 
  body
    div.logogroup 
        a(href="#"): img(src=require("./logo_group.svg"), alt="logo_group") 
    include ../../modules/header/header
    include ../../modules/footer/footer
 
      