mixin radio_buttons
  .radio-group
    label.check-radio
            input#one.checkbox-radio(type='radio' name='radio' checked="checked")
            span.checkmark-radio
            |Мужчина
    label.check-radio
            input#one.checkbox-radio(type='radio' name='radio' checked="checked")
            span.checkmark-radio
            |Женщина