.radio {
   display: flex;
   flex-direction: row;
   height: 24px;
   width: 241px;
 
    
    
}
.radio-group {
    display: flex;
    flex-direction: row;
    width: 98px;
    cursor: pointer;
    font-family: 'MontserratRegular';
    color: rgba(31, 32, 65, 0.5);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    margin-right: 20px;
}
.radio-group-text {
    margin-left: 10px;
}

