doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Colors & Type"
    
  body
    div.logogroup 
        a(href="#"): img(src=require("./logo_group.svg"), alt="logo_group")
    .wrapper
        .colors-type-content
            .colors-type-column1
                .colors-type-column1-row
                    .colors-type-rect.colors-type-rect-color1
                    .colors-type-text
                        h2.colors-type-text-h2 Dark Shade 100%
                        p #1F2041
                .colors-type-column1-row
                    .colors-type-rect.colors-type-rect-color2
                    .colors-type-text
                        h2.colors-type-text-h2 Dark Shade 75%
                        p #1F2041
                .colors-type-column1-row
                    .colors-type-rect.colors-type-rect-color3
                    .colors-type-text
                        h2.colors-type-text-h2 Dark Shade 50%
                        p #1F2041
                .colors-type-column1-row
                    .colors-type-rect.colors-type-rect-color4
                    .colors-type-text
                        h2.colors-type-text-h2 Dark Shade 25%
                        p #1F2041
                .colors-type-column1-row
                    .colors-type-rect.colors-type-rect-color5
                    .colors-type-text
                        h2.colors-type-text-h2 Dark Shade 5%
                        p #1F2041
                .colors-type-column1-row   
                    .colors-type-rect.colors-type-rect-color6
                    .colors-type-text
                        h2.colors-type-text-h2 Purple
                        p #BC9CFF  
                .colors-type-column1-row   
                    .colors-type-rect.colors-type-rect-color7
                    .colors-type-text
                        h2.colors-type-text-h2 Green
                        p #6FCF97                
            .colors-type-column2
                .colors-type-column2-row
                    h1.colors-type-column2-row-lable1 H1
                    h1.colors-type-text-h1 This one is the sub-section or widget title
                .colors-type-column2-row
                    h2.colors-type-column2-row-lable2 H2
                    h2.colors-type-text-h2 Next one is the item title inside
                .colors-type-column2-row
                    h3.colors-type-column2-row-lable3 H3
                    h3.colors-type-text-h3 This is a label or CTA text
                .colors-type-column2-row
                    .colors-type-column2-row-lable4 Body
                    .colors-type-text-body This is the body text which is used for most of the design, like paragraphs, lists, etc.