.wrap {
  width: 320px;
  height: 205px;
  position: relative;

  
}
.dropdown {
  position: relative;
  border: 1px solid rgba(31, 32, 65, 0.5);
  margin-bottom: 20px;
  width: 320px;
  font-family: 'MontserratRegular';
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  border-radius: 4px;
  background: #FFFFFF;
  text-align: start;

  &__heading {
    position: relative;
    min-height: 44px;
    padding-left: 15px;
    top: 15px;
  }
  &_hide {
    & > .dropdown__content{
      display: none;
      

    }
  }
}
.dropdown__content {
  height: 160px;
  width: 320px;
  padding-top: 10px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-bottom-left-radius: 4px; 
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  position: absolute;
  background-color: #FFFFFF;
  overflow: auto;
  

}



.dropdown__dropbtn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  color: rgba(31, 32, 65, 0.75);
  border: none;
  box-sizing: border-box;
  padding: 2px;
  cursor: pointer;
  font-family: 'MaterialIcons';
  font-size: 24px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.5);
  margin-left: 276px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;

}

.dropdown__buttons {
  width: 300px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding-top: 13px;
  padding-left: 10px;
  
}
.dropdown__clear,
.dropdown__apply {
  padding: 0px;
  width: 84px;
  height: 15px;
  border: none;
  background-color: #FFFFFF;
  font-family: 'MontserratBold';
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  text-align: start;
}
.dropdown__apply {
    text-align: right;
}


