header 
    div.header 
        .container
            .header_body
                .header_logo 
                    a(href="#"): img(src=require("../../images/logo.svg"), alt="Logo")
                nav 
                    ul.nav
                        li.nav-item 
                            a(href="").nav-link.nav-link-about О нас
                        li.nav-item 
                            a(href="").nav-link Услуги
                            img.nav-arrow(src=require("../../images/arrow.svg"), alt="arrow")
                        li.nav-item
                            .nav-item-text
                                a(href="").nav-link Вакансии
                        li.nav-item
                            .nav-item-text
                                a(href="").nav-link Новости
                        li.nav-item 
                            a(href="").nav-link Соглашения
                                    img.nav-arrow(src=require("../../images/arrow.svg"), alt="arrow")
                button.headerbtn.headerbtn-log-in Войти
                button.headerbtn.headerbtn-sign-up Зарегистрироваться

                        

    
            
            
                        



