
@import '~normalize.css';
@import '~flexboxgrid2';



body {
    background-color: white;
    margin: 0;
    padding: 0;   
   
}

.logogroup {
    width: 48px;
    height: 48px;
    margin-top: 30px;
    margin-left: 30px;
}

.form-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    &-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 100px;
        

        &-column {
            display: flex;
            flex-direction: column;
            gap: 40px;

            &-firstgroup {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
            &-secondgroup {
                display: flex;
                flex-direction: column;
                gap: 40px;

                &-date {
                    display: inline-flex;
                    gap: 20px;
                }
            }
        }
    }

    &-block {
        display: flex;
        flex-direction: column;

        &-toggle {
            display: flex;
            flex-direction: column;
            gap: 14px;
        }

        &-like {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        &-rate {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        &-button {
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-top: 15px;

            &-row {
                display: flex;
                flex-direction: row;
                gap: 20px;
            }
        }
        &-icon {
            margin-right: 155px;
        }

    }

    &-heading {
        display: inline-flex;
        justify-content: space-between;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        margin-bottom: 5px;

        &-bold {
            font-family: 'MontserratBold';
            color: #1F2041;
        }

        &-normal {
            font-family: 'MontserratRegular';
            color: rgba(31, 32, 65, 0.5);

            &-material-icons {
                font-family: 'MaterialIcons';
            }
        }
    }
}
