.check-radio {
  margin-bottom: 10px;
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-family: 'MontserratRegular';
  color: rgba(31, 32, 65, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
/* Hide the browser's default checkbox */
.checkbox-radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
  }
/* Create a custom checkbox */
.checkmark-radio {
    display: inline-block;
    
    height: 19px;
    width: 19px;
    background: #FFFFFF;
    border: 1px solid rgba(24, 29, 175, 0.25);
    border-radius: 50%;
}
/* When the checkbox is checked, add a blue background */
.check-radio input:checked ~ .checkmark-radio {
    background-color: #FFFFFF;
    border: 1px solid rgba(188, 156, 255, 1);
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
  }
/* Show the checkmark when checked */
.check-radio input:checked ~ .checkmark-radio:after {
    display: block;
  }
/* Style the checkmark/indicator */
.check-radio .checkmark-radio:after {
  top: 4px;
	left: 4px;
  width: 13px;
	height: 13px;
	border-radius: 50%;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);;
}
