.registration {
    width: 380px;
    height: 646px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-family: 'MontserratRegular';
}
.registration-item {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

.registration-head {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1F2041;
    padding-bottom: 20px;
}
.registration-lastname{
    padding-top: 10px;
}
.registration-radio{
    padding-top: 10px;
}
.registration-date{
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-top: 20px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1F2041;

}
.registration-sign{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.registration-sign-head{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1F2041;
    padding-bottom: 5px;
}
.registration-sign-password{
    padding-top: 10px;
}
.registration-toggle{
    padding-top: 10px;
}
.registration-buttonlong{
    padding-top: 20px;
}
.registration-lastgroup{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}
.registration-toxin{
    padding-top: 14px;
    padding-right: 35px;
    width: 186px;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}



