.multiselect {
    width: 266px;
    height: 44px;
  }
  
  
  
  .selectBox {
    position: relative;
    width: 266px;
    border: none;
    background: #FFFFFF;
    font-family: 'MontserratBold';
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
  
  .checkbox-dropdown-btn{
    position: absolute;
    background: transparent;
    color: rgba(31, 32, 65, 0.75);
    border: none;
    box-sizing: border-box;
    padding: 2px;
    font-family: 'MaterialIcons';
    font-size: 24px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.5);
    
    margin: -5px 2px 0px 30px;
  }
  
  #checkboxes {
    display: none;
    //border: 1px #dadada solid;
  }
  .checkboxes {
    display: flex;
    flex-direction: row;
    width: 222px;
    height: 171px;
  }
  .checkbox-group {
    display: flex;
    flex-direction: row;
    width: 222px;
    height: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: 'MontserratRegular';
    color: rgba(31, 32, 65, 0.5);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    margin-right: 20px;
  }
  .checkbox-group-text {
    margin-left: 10px;
  }









  