.multiselect {
    width: 320px;
    height: 44px;
  }
  
  .selectBox {
    position: relative;
    
  }
  
  .selectBox select {
    width: 320px;
    margin-top: 14px;
    margin-bottom: 14px;
    border: none;
    background: #FFFFFF;
    font-family: 'MontserratBold';
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    font-size: 12px;
    line-height: 15px;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    //border: 1px #dadada solid;
  }
  









  