include ../checkmark/checkmark
mixin checkbox_list 
    form
      .multiselect
        .selectBox(onclick='showCheckboxes()')
          select
            option Дополнительные удобства
          .overSelect
        #checkboxes.checkboxes 
          .checkbox-group
            +checkmark
            .checkbox-group-text Завтрак
          .checkbox-group
            +checkmark
            .checkbox-group-text Письменный стол
          .checkbox-group
            +checkmark
            .checkbox-group-text Стул для кормления
          .checkbox-group
            +checkmark
            .checkbox-group-text Кроватка
          .checkbox-group
            +checkmark
            .checkbox-group-text Телевизор
          .checkbox-group
            +checkmark
            .checkbox-group-text Шампунь
