include ../../mixin/rich_checkbox/rich_checkbox
mixin checkbox-dropdown 
    form
      .multiselect
        .selectBox(onclick='showCheckboxes()') Дополнительные удобства
          button#checkBoxBtn.checkbox-dropdown-btn expand_more
        #checkboxes.checkboxes 
          +checkbox-list({ items: [ {text: "завтрак"}, {text: "Письменный стол", isChecked: true}, {text: "Стул для кормления", isChecked: true}, {text: "Кроватка", isChecked: true}, {text: "Телевизор"}, {text: "Шампунь"} ]})
