include ../checkmark/checkmark
mixin checkbox_list 
    form
      .multiselect
        .selectBox(onclick='showCheckboxes()')
          select
            option Дополнительные удобства
          .overSelect
        #checkboxes
          +checkmark
