.footer-email {
    display: flex;
    padding-top: 0px;
    width: 260px;
    height: 44px;
    border: none;
    margin-top: 1px;
    margin-bottom: 1px;
   
}
.input-text {
    position: relative;
    width: 260px;
    height: 44px;
    padding: 0px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    background: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
 
}
.input-text:focus,
.input-text:hover {
    outline: none;
    border: 1px solid rgba(31, 32, 65, 0.5);
}
.input-text[type='email'] {
  color: rgba(31, 32, 65, 0.75);
  padding-left: 15px;
  font-family: 'MontserratRegular';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.input-text::placeholder{
  color: rgba(31, 32, 65, 0.25);
  font-family: 'MontserratRegular';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding-left: 15px;
}


  .input-btn {
    position: absolute;
    width: 44px;
    height: 44px;
    font-family: 'MaterialIcons';
    font-size: 24px;
    color: transparent;    
	  -webkit-background-clip: text;
	  background-clip: text;
	  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    padding: 2px;
    margin-left: 215px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: none;
    cursor: pointer;
  }