mixin subscription_text_field
    form.footer-email(action="/mock-address/change-me") 
        input.input-text(type="email" name="emails" placeholder="Email")
        button.input-btn(type="submit") arrow_forward