include ../../modules/cards/registration/registration


doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= "Toxin"


  body 
    .wrapper
      include ../../modules/header/header
      .content.content-img
        .registration-page-registration-card
          +registration      
      include ../../modules/footer/footer