include ../../modules/cards/registration/registration


doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= "Registration"


  body 
    include ../../modules/header/header
    .registration-content-img
      .wrapper
        .registration-content
            .registration-card
              +registration      
    include ../../modules/footer/footer