include ../../modules/cards/registration/registration


doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= "Registration"


  body 
    include ../../modules/header/header
    .registration-content.registration-content-img
      .wrapper
        .row.start-xs
          .col-xs-offset-0.col-xs-10.col-lg-offset-4.col-lg-4.col-md-offset-2.col-md-4
            .registration-page-registration-card
              +registration      
    include ../../modules/footer/footer