@import '~normalize.css';
@import '~flexboxgrid2';




body {
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
}

.registration-content {
    height: 100%;
    width: 100%;
    margin-top: 0px;
    background-image: url(image4.png);
    background-position: center;
   
   // position: relative;
}
.registration-content-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.registration-page-registration-card{
    padding: 20px 0px 20px 0px;
    width: 380px;

}
