.bullet {
    display: flex;
    flex-direction: column;
    max-width: 292px;
    height: auto;

    &-string {
        display: inline-flex;

        &-mark {
            width: 24px;
            height: 24px;
        }
       
        &-circle {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: rgba(31, 32, 65, 0.25);
            border: none;
            margin: 7px;
        }

        &-text {
            font-family: 'MontserratRegular';
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
        }
    }
}