mixin bullet-list 
    .bullet 
        .bullet-string
            .bullet-string-mark
                .bullet-string-circle 
            .bullet-string-text Нельзя с питомцами
        .bullet-string 
            .bullet-string-mark
                .bullet-string-circle 
            .bullet-string-text Без вечеринок и мероприятий
        .bullet-string 
            .bullet-string-mark
                .bullet-string-circle 
            .bullet-string-text Время прибытия — после 13:00, выезд до 12:00