.wrap__room {
    width: 266px;
    height: 300px;
    position: relative;

    
  }
  .dropdown__room {
    position: relative;
    border: 1px solid rgba(31, 32, 65, 0.5);
    margin-bottom: 20px;
    max-width: 100%;
    font-family: 'MontserratRegular';
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    border-radius: 4px;
    background: #FFFFFF;
    text-align: start;

    &__heading {
      position: relative;
      min-height: 44px;
      padding-left: 15px;
      top: 15px;
    }
    &_hide {
      & > .dropdown__room__content{
        display: none;
        

      }
    }
  }

  .dropdown__room__content {
    height: 160px;
    max-width: 266px;
    padding-top: 10px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    position: relative;
    background-color: #FFFFFF;
    overflow: auto;
    z-index: 2;
    

  }
  .dropdown__content-room {
    max-width: 100%;
  }
  .dropdown__items {
    position: relative;
  }

  /*.item-quantity {
    max-width: 100%;
    height: 30px;
    padding-bottom: 7px;
    padding-left: 15px;
    display: flex;
    justify-content: start;
    font-weight: bold;
    align-content: center;
  }
  .item-quantity__nam {
    max-width: 83px;
    height: 15px;
    padding-right: 123px;
    padding-top: 7px;
    font-size: 12px;
    line-height: 15px;
    font-family: 'MontserratRegular';
    text-transform: uppercase;
    color: #1F2041;
    font-weight: bold;

  }*/
  .dropdown__dropbtn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    color: rgba(31, 32, 65, 0.75);
    border: none;
    box-sizing: border-box;
    padding: 2px;
    cursor: pointer;
    font-family: 'MaterialIcons';
    font-size: 24px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.5);
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;

    &-room {
      padding-left: 225px;
    }

  }
  .item-quantity__button {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 22px;
    padding: 0px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    align-content: center;
    box-sizing: border-box;
    color: rgba(31, 32, 65, 0.5);
    text-align: center;
    font-size: 18px;
  }
  .item-quantity__controls {
      display: flex;
      flex-direction: row;
  }
  /*.item-quantity__value {
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 7px 10px;   
    border: none;
    display: inline-block;
    vertical-align: middle;
    font-family: "MontserratBold";
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #1F2041
  }*/


  .dropdown__room__buttons {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 13px;
    padding-left: 10px;
    
  }
  .dropdown__clear,
  .dropdown__apply {
    padding: 0px;
    width: 84px;
    height: 15px;
    border: none;
    background-color: #FFFFFF;
    font-family: 'MontserratBold';
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    text-align: start;
  }
  

  