doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Toxin"
  body 
    div.logogroup 
        a(href="#")
          img(src="img/logo_group.png", alt="Group") 
    header.header 
      h1 Hello World
