mixin icontext(options)
    -
        const {
            icon,
            heading,
            words,            
        } = options || {}
    .icontext 
        .icontext-group
            .icontext-group-icon= icon
            .icontext-group-text 
                .icontext-group-text-heading= heading
                .icontext-group-text-words= words

mixin icontext-list
    .icontext-list
        .icontext-list-item 
            +icontext({ icon: 'location_city', heading: 'Комфорт', words: 'Шумопоглощающие стены', })
            .icontext-list-line
        .icontext-list-item 
            +icontext({ icon: 'insert_emoticon', heading: 'Удобство', words: 'Окно в каждой из спален', })
            .icontext-list-line
        .icontext-list-item 
            +icontext({ icon: 'whatshot', heading: 'Уют', words: 'Номер оснащён камином', })
        