mixin piechart
    .piechart
        .piechart-pie 
            svg.donut(width='100%' height='100%' viewBox='0 0 42 42')
                defs
                    lineargradient#linearOrange(x1='50%' y1='0%' x2='50%' y2='100%')
                        stop(offset='0%' style='stop-color:rgba(255, 227, 156, 1);stop-opacity:1.00')
                        stop(offset='100%' style='stop-color:rgba(255, 186, 156, 1);stop-opacity:1.00')
                    lineargradient#linearViolet(x1='50%' y1='0%' x2='50%' y2='100%')
                        stop(offset='0%' style='stop-color:rgba(188, 156, 255, 1);stop-opacity:1.00')
                        stop(offset='100%' style='stop-color:rgba(139, 164, 249, 1);stop-opacity:1.00')
                    lineargradient#linearGreen(x1='50%' y1='0%' x2='50%' y2='100%')
                        stop(offset='0%' style='stop-color:rgba(111, 207, 151, 1);stop-opacity:1.00')
                        stop(offset='100%' style='stop-color:rgba(102, 210, 234, 1);stop-opacity:1.00')
                circle.donut-hole(cx='21' cy='21' r='15.91549430918954' fill='#FFFFFF')
                circle.donut-segment(cx='21' cy='21' r='15.91549430918954' fill='transparent' stroke='url(#linearGreen)' stroke-width='1' stroke-dasharray='24 76' stroke-dashoffset='0')
                circle.donut-segment(cx='21' cy='21' r='15.91549430918954' fill='transparent' stroke='url(#linearViolet)' stroke-width='1' stroke-dasharray='24 76' stroke-dashoffset='25')
                circle.donut-segment(cx='21' cy='21' r='15.91549430918954' fill='transparent' stroke='url(#linearOrange)' stroke-width='1' stroke-dasharray='49 51' stroke-dashoffset='75')
            .chart-text
                text.chart-number 260
                text.chart-label Голосов
        .pie-chart-list
            .pie-chart-list-string 
                .pie-chart-list-string-mark
                    .pie-chart-list-string-mark-circle1
                .pie-chart-list-string-text Великолепно
            .pie-chart-list-string 
                .pie-chart-list-string-mark
                    .pie-chart-list-string-mark-circle2
                .pie-chart-list-string-text Хорошо
            .pie-chart-list-string 
                .pie-chart-list-string-mark
                    .pie-chart-list-string-mark-circle3
                .pie-chart-list-string-text Удовлетворительно
            .pie-chart-list-string 
                .pie-chart-list-string-mark
                    .pie-chart-list-string-mark-circle4
                .pie-chart-list-string-text Разочарован

