mixin like_button 
    .like-button
        button#like-button.like-btn
            #likeCheckmarkBefore.like-checkmark-before favorite_border
            #like-count.like-btn-count 3
        #likeCheckmarkAfter
            .like-checkmark-after favorite