mixin like_button 
    .like-button
        button#like-button.like-btn
            #likeCheckmarkBefore.like-checkmark-before favorite_border
            input#like-count.like-btn-count(type='text' value='2')
        #likeCheckmarkAfter
            .like-checkmark-after favorite