@import '~normalize.css';
@import '~flexboxgrid2';





body {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    align-items: center;
}

.signin-content {
    max-width: 100%;
    height: auto;
    margin-top: 0px;
    background-image: url(image4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}

.signin-page-signin-card{
    padding: 172px 0px 172px 0px;

}