include ../../modules/header/header
include ../../modules/cards/signin/signin


doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= "Sign in"


  body 
    +header
    .signin-content-img
      .wrapper
        .signin-content
          .signin-card
            +signin      
    include ../../modules/footer/footer