include ../../modules/cards/signin/signin


doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= "Sign in"


  body 
    include ../../modules/header/header
    .signin-content
      .container
          .signin-page-signin-card
            +signin      
    include ../../modules/footer/footer