include ../../modules/mixin/text_field/text_field
include ../../modules/mixin/subscription_text_field/subscription_text_field
include ../../modules/mixin/dropdown/dropdown
include ../../modules/mixin/plusminus/plusminus
include ../../modules/mixin/dropbtn/dropbtn
include ../../modules/mixin/dropdown_room/dropdown_room
include ../../modules/mixin/checkbox_list/checkbox_list
include ../../modules/mixin/radio_buttons/radio_buttons
include ../../modules/mixin/radio/radio
include ../../modules/mixin/toggle/toggle
include ../../modules/mixin/checkmark/checkmark



doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Toxin"
      
      
    
  body
    div.logogroup 
        a(href="#"): img(src=require("./logo_group.svg"), alt="logo_group")
    .container
      .form-elements 
        .form-elements-first
          h3 Text Field
          +text_field
          p 
          h3 subscription text field
          +subscription_text_field
          p 
          h3 Dropdown
          +dropdown 
          p 
          h3 Plusminus 
          +checkmark
          p 
          h3 Room dropdown 
          
          p 
          h3 Checkbox list 
          +checkbox_list
        .form-elements-second
          h3 Radio buttons
          +radio_buttons
          p 
          h3 Toggle 
          +toggle
        
        
         
    script 
      include ../../modules/mixin/dropdown/script_dropdown.js
    script(type='text/javascript') 
      include ../../modules/mixin/plusminus/script_plusminus.js
    script(type='text/javascript') 
      include ../../modules/mixin/dropdown_room/dropdown_room_script.js  
    script(type='text/javascript') 
      include ../../modules/mixin/checkbox_list/checkbox_list_script.js  
    
  
      

  
    
