include ../../modules/mixin/text_field/text_field
include ../../modules/mixin/subscription_text_field/subscription_text_field
include ../../modules/mixin/dropdown/dropdown
include ../../modules/mixin/plusminus/plusminus
include ../../modules/mixin/dropbtn/dropbtn
include ../../modules/mixin/dropdown_room/dropdown_room
include ../../modules/mixin/checkbox_list/checkbox_list
include ../../modules/mixin/radio_buttons/radio_buttons
include ../../modules/mixin/radio/radio
include ../../modules/mixin/toggle/toggle
include ../../modules/mixin/checkmark/checkmark
include ../../modules/mixin/checkbox/checkbox
include ../../modules/mixin/checkbox_button/checkbox_button
include ../../modules/mixin/like_button/like_button
include ../../modules/mixin/like/like
include ../../modules/mixin/rate_button/rate_button
include ../../modules/mixin/calendar/calendar
include ../../modules/mixin/button/button
include ../../modules/mixin/range_slider/range_slider
include ../../modules/mixin/pagination/pagination



doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Toxin"
    
  body
    div.logogroup 
        a(href="#"): img(src=require("./logo_group.svg"), alt="logo_group")
    .container
      .form-elements 
        .form-elements-first
          h3 Text Field
          +text_field
          p 
          h3 subscription text field
          +subscription_text_field
          p 
          h3 Dropdown
          +dropdown 
                  
          p 
          h3 Room dropdown 
          
          p 
          h3 Checkbox list
          +checkbox_list 
          
        .form-elements-second
          .form-elements-1
            h3 Правила дома
            +checkbox_button
          
          .form-elements-2
            h3 Radio buttons
            +radio_buttons
          .form-elements-3 
            h3 Toggle 
            +toggle
            p
            +toggle
          .form-elements-4 
            h3 Like button
            .like-button-group
              +like_button 
              +like_button
            
          .form-elements-5 
            h3 Rate button
            .rate-button-group
              +rate_button({quantity: 4})
              +rate_button({quantity: 5})

        .form-elements-third
          h3 Range slider
          +range-slider
          h3 Buttons
          p
            .buttons-group
              +button({ type: 'default', isHovered: true, })
              +button({ text: 'войти', })
            .buttons-group
              +button({ type: 'bordercolor', isHovered: true, })
              +button({ type: 'bordercolor', })
            .buttons-group
              +button({ type: 'link', })
              +button({ type: 'link', isHovered: true, })
            +button({ type: 'long', text: 'перейти к оплате', })
          H3 Pagination
          +pagination
        
        
         
    script 
      include ../../modules/mixin/dropdown/script_dropdown.js
    script(type='text/javascript') 
      include ../../modules/mixin/plusminus/script_plusminus.js
    script(type='text/javascript') 
      include ../../modules/mixin/dropdown_room/dropdown_room_script.js  
    script(type='text/javascript') 
      include ../../modules/mixin/checkbox_list/checkbox_list_script.js  
    script(type='text/javascript') 
      include ../../modules/mixin/like_button/script_likebutton.js
    script(type='text/javascript') 
      include ../../modules/mixin/range_slider/range_slider_script.js
    script(type='text/javascript') 
      include ../../modules/mixin/pagination/pagination_script.js
    
  

  
      

  
    
