header 
    div.header 
        .conteiner 
            .header_body
                .header_logo 
                    a(href="#")
                    img(src="../../img/logo.svg", alt="Logo")
                nav 
                    ul.nav
                        li.nav-item 
                            a(href="").nav-link О нас
                        li.nav-item 
                            .dropdown 
                                button.dropbtn Услуги
                                    i.arrow
                        li.nav-item 
                            a(href="").nav-link Вакансии
                        li.nav-item 
                            a(href="").nav-link Новости
                        li.nav-item 
                            .dropdown 
                                button.dropbtn Соглашения
                                    i.arrow
                button Войти
                button Зарегистрироваться

                        

    
            
            
                        



