@import '~normalize.css';
@import '~flexboxgrid2';

body {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.searchroom {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
    gap: 60px;
    
    &-firstcolumn{
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

        &-heading{
            font-family: 'MontserratBold';
            font-style: normal;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #1F2041;
            margin-top: 30px;
        }

        &-calendar{
            margin-top: 5px;
        }

        &-guests{
            margin-top: 5px;

        }
        &-range{
            margin-top: 30px;

            &-text{
                font-family: 'MontserratRegular';
                font-size: 12px;
                line-height: 14px;
                color: rgba(31, 32, 65, 0.5);

            }
        }
        &-comfort{
            max-width: 100%;
            position: relative; 
            z-index: 2;
            margin-top: 5px;
        }
        &-newcomfort {
            position: relative;
            z-index: 1;
           margin-top: -220px;
        }
       

    }

    &-secondcolumn{
        max-width: 100%;
        height: auto;
        margin-top: 30px;
        margin-left: 0px;
        
        &-heading{
            font-family: 'MontserratBold';
            font-style: normal;
            font-size: 24px;
            line-height: 29px;
            color: #1F2041;
            margin-bottom: 20px;
            
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            &-room{
                max-width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
    
                &-row {
                    max-width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    gap: 12px;
                }
            }
    
            &-pagination{
                margin-top: 24px;
                max-width: 100%;
                
               // align-content: center;
               // margin-left: 296px;
            }
    

        }
        
    }
    &-line {
        max-width: 100%;
        height: 0px;
        border: 1px solid rgba(31, 32, 65, 0.25);
    }
}
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    .searchroom {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        margin-bottom: 70px;
        gap: 60px;
        
        
        &-secondcolumn {        
            
            &-content {
                    
                &-room{
                    max-width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 20px;
        
                    &-row {
                        max-width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        gap: 20px;
                    }
                }
        
                &-pagination{
                    margin-top: 24px;
                    max-width: 100%;
                    
                   // align-content: center;
                   // margin-left: 296px;
                }
        
    
            }
            
        }
        
    }
  
  }

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .searchroom {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
        gap: 60px;
        
        
        &-secondcolumn {        
            
            &-content {
                    
                &-room{
                    max-width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 20px;
        
                    &-row {
                        max-width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                    }
                }
        
                &-pagination{
                    margin-top: 24px;
                    max-width: 100%;
                    
                   // align-content: center;
                   // margin-left: 296px;
                }
        
    
            }
            
        }
        
    }
  }