@import '~normalize.css';
@import '~flexboxgrid2';

body {
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
}

.searchroom {
    background: transparent;
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
    gap: 60px;
    
    &-firstcolumn{
        display: flex;
        flex-direction: column;

        &-heading{
            font-family: 'MontserratBold';
            font-style: normal;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #1F2041;
            margin-top: 30px;
        }

        &-calendar{
            margin-top: 5px;
        }

        &-guests{
            margin-top: 5px;

        }
        &-range{
            margin-top: 30px;

            &-text{
                font-family: 'MontserratRegular';
                font-size: 12px;
                line-height: 14px;
                color: rgba(31, 32, 65, 0.5);

            }
        }
        &-comfort{
            position: absolute;
            margin-top: 707px;
        }
        &-newcomfort{
            
            margin-top: 135px;
        }

    }

    &-secondcolumn{
        margin-top: 30px;
        margin-left: 0px;

        &-heading{
            font-family: 'MontserratBold';
            font-style: normal;
            font-size: 24px;
            line-height: 29px;
            color: #1F2041;
            margin-bottom: 20px;
        }

        &-room{
            display: flex;
            flex-direction: column;
            gap: 20px;

            &-row {
                display: flex;
                flex-direction: row;
                gap: 12px;
            }
        }

        &-pagination{
            width: 241px;
            align-content: center;
            margin-left: 296px;
        }

    }
    &-line {
        max-width: 100%;
        height: 0px;
        border: 1px solid rgba(31, 32, 65, 0.25);
    }
}
