doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Toxin"
    style 
      include ../../css/style.css
      
    
  body
    div.logogroup 
        a(href="#")
          img(src="../../img/logo_group.svg", alt="Group") 
  

    include modules/header
    include modules/footer
      

      
	
	
  	

      