mixin header_login 
    .header-login 
        .wrapper
            .header-login-body
                .header_logo 
                    a(href="/mock-address/change-me"): img(src=require("./logo.svg"), alt="Logo")
                .nav
                    .nav-item 
                        a(href="/mock-address/change-me").nav-link О нас 
                    .nav-item.nav-item-dropdown
                        .nav-item-dropdown-heading
                            a(href="/mock-address/change-me").nav-link Услуги 
                            span.nav-arrow expand_more
                        .nav-item-dropdown-content
                            a(href="/mock-address/change-me").nav-link-dropdown 
                            a(href="/mock-address/change-me").nav-link-dropdown  
                            a(href="/mock-address/change-me").nav-link-dropdown 
                    .nav-item
                        .nav-item-text
                            a(href="/mock-address/change-me").nav-link Вакансии
                    .nav-item
                        .nav-item-text
                            a(href="/mock-address/change-me").nav-link Новости
                    .nav-item.nav-item-dropdown
                        .nav-item-dropdown-heading
                            a(href="/mock-address/change-me").nav-link Соглашения 
                            span.nav-arrow expand_more
                        .nav-item-dropdown-content
                            a(href="/mock-address/change-me").nav-link-dropdown 
                            a(href="/mock-address/change-me").nav-link-dropdown  
                            a(href="/mock-address/change-me").nav-link-dropdown
                    .nav-item
                    .nav-item Юлий Цезарь
                    