footer 
    .footer 
        .container 
           .footer_section-1
                .col-xs-12.col-md-4.col-lg-4
                    .footer-item-logo
                        .footer_logo 
                           a(href="/mock-address/change-me"): img(src=require("./logo.svg"), alt="Logo")
                        .footer_logo_text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                .col-xs-12.col-md-4.col-lg-4
                    .footer-item
                        ul.footer-list 
                            li.footer-list__item 
                                a(href="/mock-address/change-me").footer-list__link Навигация
                            li.footer-list__item 
                                a(href="/mock-address/change-me").footer-list__link О нас 
                            li.footer-list__item 
                                a(href="/mock-address/change-me").footer-list__link Новости
                            li.footer-list__item 
                                a(href="/mock-address/change-me").footer-list__link Служба поддержки
                            li.footer-list__item 
                                a(href="/mock-address/change-me").footer-list__link Услуги
                .col-xs-12.col-md-4.col-lg-4
                    .footer-item
                        ul.footer-list 
                            li.footer-list__item 
                                a(href="/mock-address/change-me").footer-list__link О нас
                            li.footer-list__item 
                                a(href="/mock-address/change-me").footer-list__link О сервисе 
                            li.footer-list__item 
                                a(href="/mock-address/change-me").footer-list__link Наша команда
                            li.footer-list__item 
                                a(href="/mock-address/change-me").footer-list__link Вакансии
                            li.footer-list__item 
                                a(href="/mock-address/change-me").footer-list__link Инвесторы
                .col-xs-12.col-md-4.col-lg-4
                    .footer-item
                        ul.footer-list 
                            li.footer-list__item 
                                a(href="/mock-address/change-me").footer-list__link Служба поддержки
                            li.footer-list__item 
                                a(href="/mock-address/change-me").footer-list__link Соглашения 
                            li.footer-list__item 
                                a(href="/mock-address/change-me").footer-list__link Сообщества
                            li.footer-list__item 
                                a(href="/mock-address/change-me").footer-list__link Связь с нами   
                .col-xs-12.col-md-4.col-lg-4                             
                    .footer-item
                        ul.footer-list 
                            li.footer-list__item 
                                a(href="/mock-address/change-me").footer-list__link Подписка
                            li.footer-list__item 
                                a(href="/mock-address/change-me").footer-list__link Получайте специальные предложения и новости сервиса 
           
        