mixin footer_mobile 
    .footer-mobile 
        .footer-mobile-firstgroup
            .footer-mobile-logo 
                a(href="/mock-address/change-me"): img(src=require("./logo.svg"), alt="Logo")
            .footer-mobile-text Copyright © 2018 Toxin отель. Все права защищены.
        .footer-mobile-secondgroup
            .social
                svg.social-svg
                    defs
                        lineargradient#Gradient-1(x1='50%' y1='0' x2='50%' y2='100%')
                            stop(offset='0%' style='stop-color:rgb(188,156,255);stop-opacity:1.00')
                            stop(offset='100%' style='stop-color:rgb(139,164,249);stop-opacity:1.00')
                    .fab.fa-twitter.gradient-icon
                svg.social-svg
                    defs
                        lineargradient#Gradient-1(x1='50%' y1='0' x2='50%' y2='100%')
                            stop(offset='0%' style='stop-color:rgb(188,156,255);stop-opacity:1.00')
                            stop(offset='100%' style='stop-color:rgb(139,164,249);stop-opacity:1.00')
                    .fab.fa-facebook-square.gradient-icon
                svg.social-svg
                    defs
                        lineargradient#Gradient-1(x1='50%' y1='0' x2='50%' y2='100%')
                            stop(offset='0%' style='stop-color:rgb(188,156,255);stop-opacity:1.00')
                            stop(offset='100%' style='stop-color:rgb(139,164,249);stop-opacity:1.00')
                    .fab.fa-instagram.gradient-icon