include ../../modules/cards/registration/registration
include ../../modules/cards/signin/signin
include ../../modules/cards/seach_room/seach_room
include ../../modules/cards/type_room/type_room


doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Toxin"
    
  body
    div.logogroup 
        a(href="#"): img(src=require("./logo_group.svg"), alt="logo_group")
    .container
      .cards-group
        .cards-seach-room 
          +seach_room
        .cards-registration 
          +registration
        .cards-signin 
          +signin
        .cards-typeroom 
          +type_room({ number: '№ 888', lux: 'люкс', cost: '9 990₽', count: '5', rate: '65' })(class='type-room-picture1')
          +type_room({ number: '№ 840', cost: '9 990₽', count: '4', rate: '145' })(class='type-room-picture2')