@import '~normalize.css';
@import '~flexboxgrid2';


body {
    background-color:#E5E5E5;
    margin: 0;
    padding: 0;
      
}

h3 {
    font-family: 'MontserratRegular';
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 3px;
    font-size: 12px;
    line-height: 15px;
}

.logogroup {
    width: 48px;
    height: 48px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 62px;
}
.cards-group{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}
.cards-group-column {
    display: flex;
    flex-direction: column;
}
.card {
    padding: 40px;
}
.cards-room-number {
    width: 380px;
    height: 512px;
}
.cards-seach-room {
    width: 380px;
    height: 374px;
}
.cards-registration {
    width: 380px;
    height: 646px;

}
.cards-signin {
    width: 380px;
    height: 358px;
}

.cards-datepicker {
    width: 380px;
    height: 420px;
}
.cards-typeroom {
    width: 270px;
    height: 257px;
}