@import '~normalize.css';
@import '~flexboxgrid2';

body {
    background-color:#E5E5E5;
    margin: 0;
    padding: 0;
      
}

h3 {
    font-family: 'MontserratBold';
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 3px;
    font-size: 12px;
    line-height: 15px;
}

.logogroup {
    width: 48px;
    height: 48px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 62px;
}
.cards-group{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
}
.cards-seach-room {
    width: 380px;
    height: 374px;
}
.cards-registration {
    padding-left: 40px;
    width: 380px;
    height: 646px;

}
.cards-signin {
    padding-left: 40px;
    width: 380px;
    height: 358px;
}
.cards-typeroom {
    width: 270px;
    height: 257px;
    padding-left: 40px;
}