include ../../mixin/dropdown_guests/dropdown_guests
include ../../cards/datepicker/datepicker

include ../../mixin/button/button

mixin seach_room
    .seach-room 
        .seach-room-item
            .seach-room-head Найдём номера под ваши пожелания
            .seach-room-date
                .seach-room-date-row 
                    .seach-room-date-row-head Прибытие 
                    .seach-room-date-row-head Выезд
                .seach-room-date-datepicker 
                +datepicker   
            .seach-room-guest
                .seach-room-guest-head Гости
                +dropdown_guests('Сколько гостей')                    
            .seach-room-buttonlong 
            +button({ type: 'long', text: 'подобрать номер', })
            


