include ../../mixin/date_dropdown/date_dropdown
include ../../mixin/dropdown_guests/dropdown_guests

include ../../mixin/button/button

mixin seach_room
    .seach-room 
        .seach-room-item
            .seach-room-head Найдём номера под ваши пожелания
            .seach-room-group
                .seach-room-group-row
                    .seach-room-date-group-head Прибытие
                    
                .seach-room-group-row
                    .seach-room-date-group-head Выезд
                    
            .seach-room-guest
                .seach-room-guest-head Гости
                +dropdown_guests('Сколько гостей')                    
            .seach-room-buttonlong 
            +button({ type: 'long', text: 'подобрать номер', })
            


