.type-room {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &-picture1 {
        max-width: 100%;
        height: 152px;
        display: flex;
        flex-direction: column;
        background: url(image1.png);
    }
    &-picture2 {
        max-width: 100%;
        height: 152px;
        display: flex;
        flex-direction: column;
        background: url(image2.png);
    }
    &-picture3 {
        max-width: 100%;
        height: 152px;
        display: flex;
        flex-direction: column;
        background: url(image3.png);
    }
    &-picture4 {
        max-width: 100%;
        height: 152px;
        display: flex;
        flex-direction: column;
        background: url(image4.png);
    }
    &-picture5 {
        max-width: 100%;
        height: 152px;
        display: flex;
        flex-direction: column;
        background: url(image5.png);
    }
    &-picture6 {
        max-width: 100%;
        height: 152px;
        display: flex;
        flex-direction: column;
        background: url(image6.png);
    }
    &-picture7 {
        max-width: 100%;
        height: 152px;
        display: flex;
        flex-direction: column;
        background: url(image7.png);
    }
    &-picture8 {
        max-width: 100%;
        height: 152px;
        display: flex;
        flex-direction: column;
        background: url(image8.png);
    }
    &-picture9 {
        max-width: 100%;
        height: 152px;
        display: flex;
        flex-direction: column;
        background: url(image9.png);
    }

    &-first-arrow {
        padding-top: 53px;
        width: 270px;
        height: 44px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &-first-btn-arrow {
        background-color: transparent;
        font-family: 'MaterialIcons';
        color: #FFFFFF;
        font-size: 24px;
        line-height: 24px;
        border: none;
        width: 44px;
        height: 44px;
        cursor: pointer;
    }
    &-first-circle {
        width: 42px;
        height: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 210px;
        padding-top: 31px;
    }

    
    &-first-group-circle {
        width: 8px;
        height: 8px;
        background: #FFFFFF;
        border-radius: 4px;
        box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
        border: none;
        cursor: pointer;
    }
    &-first-group-circle2 {
        width: 6px;
        height: 6px;
        background: transparent;
        border-radius: 4px;
        box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
        border: 1px solid #FFFFFF;
        cursor: pointer;

        &-color {
            align-content: center;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background: transparent;
            border: none;
        }
    }

    &-second {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding-top: 20px;
        height: 20px;
        padding-left: 20px;
        margin-bottom: 1px;

        &-number {
            width: 60px;
            font-family: 'MontserratRegular';
            font-size: 14px;
            line-height: 17px;
            color: #1F2041;
        }
        &-number span {
            font-family: 'MontserratBold';
            font-size: 19px;
        }


        &-type {
            
            width: 41px;
            height: 15px;
            font-family: 'MontserratBold';
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #BC9CFF;
            border: none;
            padding-top: 5px;
            padding-right: 20px;
            padding-left: 0px;
        }
        &-type:focus {
            outline: none;
            caret-color: transparent;
        }

        &-cost {
            padding-top: 3px;
            height: 20px;
            font-family: 'MontserratBold';
            font-size: 14px;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.5);
                
        }

        &-cost span {
            padding-left: 5px;
            font-family: 'MontserratRegular';
            font-weight: normal;
        }

    }

    &-line {
        max-width: 100%;
        height: 1px;
        background: rgba(31, 32, 65, 0.1);
        margin-top: 10px;
        margin-left: 20px;
    }


    &-fird {
        display: flex;
        flex-direction: row;
        padding-top: 8px;
        padding-left: 20px;

        &-rates {
            font-family: 'MontserratBold';
            font-size: 14px;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.5);
            padding-left: 20px;
        }

        &-rates span {
            padding-left: 5px;
            font-family: 'MontserratRegular';
            font-weight: normal;
        }
    }
}