include ../../mixin/rate_button/rate_button

mixin type_room(options)
    -
        const {
            number,
            lux = false,
            cost,
            count,
            rate
        } = options || {}
    .type-room
        .type-room-picture1(class!=attributes.class)
            .type-room-first-arrow
                button.type-room-first-btn-arrow chevron_left
                button.type-room-first-btn-arrow chevron_right 
            .type-room-first-circle 
                .type-room-first-group-circle
                .type-room-first-group-circle2
                    .type-room-first-group-circle2-color
                .type-room-first-group-circle2
                    .type-room-first-group-circle2-color
        .type-room-second
            .type-room-second-number № 
                span= number
            input.type-room-second-type(type="text" placeholder= lux) 
            span.type-room-second-cost= cost
                span в сутки
        .type-room-line
        .type-room-fird 
            +rate_button({quantity: count})            
            span.type-room-fird-rates= rate
                span Отзывов 
        
        