include ../plusminus/plusminus
mixin dropdown
    .dropdown
      #sel1.dropdown-form(onclick='myFunction()')
        button#displaydiv.dropbtn-input Сколько гостей
        button.dropbtn expand_more
      #myDropdown.dropdown-content
        .iqdropdown-menu-option(data-id='item1')
          label(for="").iqdropdown-item Взрослые
          +plusminus
        .iqdropdown-menu-option(data-id='item2')
          label(for="").iqdropdown-item Дети
          +plusminus
        .iqdropdown-menu-option(data-id='item3')
          label(for="").iqdropdown-item Младенцы
          +plusminus
        .iqdropdown-menu-buttons
          button.iqdropdown-menu-apply(type='button' onclick='getSelectedValue()') Применить
         


       
