mixin dropdown(name,value,wordForms,min)
  -
    const data = {
      'data-words': wordForms || undefined,
      'data-min': min || undefined
    }
  .item-quantity&attributes(data)
    span.item-quantity__nam= name
    .item-quantity__controls
      button.item-quantity__button.item-quantity__button_minus -
      span.item-quantity__value= value
      button.item-quantity__button.item-quantity__button_plus +

.wrap
  .dropdown(data-words="Гость,Гостя,Гостей", data-default="Сколько гостей?")
    button.dropdown__dropbtn expand_more
    .dropdown__heading
    .dropdown__content
      .dropdown__items
        +dropdown('Взрослые',0)
        +dropdown('Дети',0)
        +dropdown('Младенцы',0)

      .dropdown__buttons
        button.dropdown__clear Очистить
        button.dropdown__apply Применить
         


       
