.dropdown-page {
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    border: 1px solid rgba(31, 32, 65, 0.5);
    min-width: 266px;
    height: 42px;
    font-family: 'MontserratRegular';
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    border-radius: 4px;
    background: #FFFFFF;
    text-align: start;
}
.dropdown-page-text {
    padding: 12px 0px 0px 15px;
}
.dropdown-page-btn {
    
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    color: rgba(31, 32, 65, 0.75);
    border: none;
    box-sizing: border-box;
    padding: 2px;
    margin: 1px;
    cursor: pointer;
    font-family: 'MaterialIcons';
    font-size: 24px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.5);
    
}